<!DOCTYPE html>  
<html>  
  
<head>  
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>聊天</title>  
    <link rel="stylesheet" href="">  
    <script language="JavaScript" src="http://code.jquery.com/jquery-1.11.0.js"></script>  
    <script type="text/javascript">  
    </script>  
</head>  
<style type="text/css" media="screen">  
div {  
    border: 1px solid #cccccc;  
    width: 500px;  
    min-height: 100px;  
}  
</style>  
  
<body>  
<div class="container">
    <a href="https://mp.weixin.qq.com/s/39k0AhFE6Tjw8p6okmud4g">跳转到公众号文章</a>
  <img src="/images/micapp/wenzi.jpg" alt="">
</div> 
  
</html> 
